@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: FontApi;
        src: url("assets/fonts/ap.ttf") format("tff");
    }

    @font-face {
        font-family: FontAwesome;
        src: url("assets/fonts/fontawesome-webfont.woff2") format("woff2");
    }

    @font-face {
        font-family: NunitoSansBold;
        src: url("assets/fonts/NunitoSans-Bold.woff") format("woff");
    }

    @font-face {
        font-family: NunitoSansRegular;
        src: url("assets/fonts/NunitoSans-Regular.woff") format("woff");
    }

    @font-face {
        font-family: NunitoSansSemiBold;
        src: url("assets/fonts/NunitoSans-SemiBold.woff") format("woff");
    }

    * {
        font-family: NunitoSansRegular, Arial, Helvetica, sans-serif;
    }
}
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(228, 239, 255);
}
/* Áp dụng cho toàn bộ trang */
html {
    scroll-behavior: smooth; /* Cuộn mượt */
}

/* Tùy chỉnh thanh cuộn cho mọi phần tử */
::-webkit-scrollbar {
    width: 8px; /* Độ rộng của thanh cuộn */
    height: 8px; /* Độ cao thanh cuộn ngang (nếu có) */
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Màu nền của thanh cuộn */
    border-radius: 10px; /* Bo góc cho thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #41c9e2, #2a82ba); /* Màu thanh cuộn */
    border-radius: 10px; /* Bo góc thanh cuộn */
    border: 2px solid #f0f0f0; /* Tạo viền xung quanh */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #2a82ba, #41c9e2); /* Màu khi hover */
}

/* Thanh cuộn ngang (nếu cần) */
::-webkit-scrollbar-corner {
    background: transparent; /* Nền góc vuông giữa hai thanh cuộn */
}
