@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar-container {
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 1000;
}

.navbar-container.closed {
    position: absolute !important;
}

.navbar-container.open {
    transform: translateX(0);
    opacity: 1;
}

@media (min-width: 1024px) {
    .navbar-container.open {
        position: relative !important;
    }
}

@media (max-width: 1024px) {
    .navbar-container {
        position: absolute !important;
    }
}

.active-chat .logo-chat, .active-chat .top-questions {
    display: none;
}
