/*Scroll*/

@media(min-width: 450px) {
    html ::-webkit-scrollbar {
        border-radius: 0;
        height: 8px;
        width: 8px;
    }

    html ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .15);
        border-radius: 4px
    }

    html ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0
    }
}