.detail .content td {
    border: 1px solid #E9E9E9 !important;
    padding: 15px 20px !important;
}

.detail .content tr td:first-child {
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #62748D;
    vertical-align: middle;
}