.logo{
    width: 200px !important;
    height: 90px !important;
}

.text-sub{
    margin-bottom: 1rem !important;
}

.login-text{
    font-weight: 500 !important;
    margin-bottom: 1rem !important;
}

.eye-button{
    margin: 0 !important;
    padding: 0 !important;
    color: white !important;
    min-width: 0 !important;
}

.submit-button{
    margin: 2rem auto !important;
}

.no-underline{
    text-decoration: none !important;;
}

.left,.right{
    margin: auto 2px !important;
}

.mt-5{
    justify-content: space-between;
}
